* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    display: block;
    text-align: center;
    margin: 20px;
    font-size: 34px;
}

.text {
    margin-bottom: 15px;
    padding: 0 30px;
    font-size: 20px;
}